i {

    font-size: calc(8vw);
    color: yellow;
    text-align: center;
}

i:hover {
    transition: color 5s;
    color: grey;
}

body {
    background-image: linear-gradient(to right bottom, #ffffff, #fff5ff, #ffe9ee, #ffe1d0, #ffe1b2, #fddd9b, #f9da83, #f1d86b, #f3c851, #f7b739, #fba41f, #ff9000);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

.bodyindex {
    background-image: radial-gradient(circle, #505050, #1f1f1f, #000000);
    z-index: 2;
    height: 100vh;
    width: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #50505000;
}

footer {
    margin-top: 5%;
    opacity: 0.6;
}

/*animacion*/

.tecleado {
    font-family: Calibri;
    color: greenyellow;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid #18BDEC;
    animation: blink 1s steps(1) infinite;
    animation: typing 4s steps(38) 1s 1 normal both, blink 1s steps(1) infinite;
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 40%;
    }
}